* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
}

.container {
  position: relative;
  display: flex;
  width: 1000px;
  height: calc(100vh - 60px);
  min-height: 500px;
  padding: 20px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.button {
  padding: 10px 20px;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: inherit;
  background-color: darkmagenta;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid darkmagenta;
  border-radius: 5px;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.modal-title {
  margin-bottom: 20px;
}

.login-form__input {
  font-family: inherit;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 5px 10px;
}

.login-error {
  margin-bottom: 5px;
  color: red;
}

.chat-users,
.chat-messages {
  padding: 0 20px;
  list-style: none;
  overflow-y: auto;
}

.chat-users {
  width: 20%;
  padding-left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.chat-users__user {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.chat-messages {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  width: 80%;
}

.chat-message {
  width: 80%;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.your-message {
  align-self: flex-end;
}

.your-message .chat-message_header {
  text-align: end;
  color: red;
}

.your-message .chat-message_body {
  text-align: end;
}

.its-you {
  color: red;
}

.chat-messages__input {
  position: absolute;
  width: calc(80% - 60px);
  left: calc(20% + 30px);
  bottom: 20px;
}

.lost-connection__info {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}